@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
/* font-family: "Bree Serif", serif;
font-weight: 400;
font-style: normal; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --AZUL-ESCURO: #015C92;
    --AZUL-MEIO: #2D82B5;
    --AZUL: #53A7D8;
    --AZUL-CLARO: #88CDF6;
    --AZUL-CLAROOO: #BCE6FF;
    --AZUL-BRANCO: #F1F9FB;
    --AZUL-TRNPARENTE: #D5F2F8;
    --BLACK: #365271;
    --b:#000000;

}
/* =============================================================== */
@media (min-width: 1300px) {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--AZUL-CLAROOO);
    }
    h2{
        color: var(--BLACK);
        font-size: 2.5em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }
    h3{
        color: var(--BLACK);
        font-size: 2em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }
    p{  color: var(--b);
        font-size: 1.3em;
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;        
        width: 100%;        
        top: 0;        
        left: 0;      
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

  
    

}
/* =============================================================== */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        background-color: blueviolet;
    }
    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;        
        width: 100%;        
        top: 0;        
        left: 0;      
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}
/* =============================================================== */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        background-color: blue;
    }

    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;        
        width: 100%;        
        top: 0;        
        left: 0;      
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}
/* =============================================================== */
@media (min-width: 576px) and (max-width: 767.98px) {
    body {
        background-color: green;
    }
    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;        
        width: 100%;        
        top: 0;        
        left: 0;      
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 40px;
        width: 80px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}
/* =============================================================== */
@media (max-width: 575.98px) {
    body {
        background-color: red;
    }
    header {
        background-color: var(--AZUL-BRANCO);
        box-shadow: 0px 3px 10px #464646;
        position: fixed;        
        width: 100%;        
        top: 0;        
        left: 0;      
        z-index: 1000;
    }

    .nav-bar {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1.5rem 6rem;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .logo img {
        height: 20px;
        width: 40px;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .nav-list ul {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    .nav-link {
        text-decoration: none;
        font-size: 1rem;
        color: var(--AZUL-ESCURO);
        font-family: "Bree Serif", serif;
        font-weight: lighter;
    }

    .mobile-menu-icon {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

}